* {
  font-family: sans-serif;
}

body {
  cursor: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}


#textContainer, #videoContainer, #imageContainer, #loading, #error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

#error {
  display: none;
  z-index: 10;
}

#loading {
  z-index: 1000;
  flex-direction: column;
}

#error p, #loading p{
  font-size: 20px;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer { 
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2000;
  margin: 5px;
  color: #7f7f7f;
  font-weight: bold;
  mix-blend-mode: difference;
}

#videoContainer .content, #textContainer .content, #imageContainer .content{
  width: 100%;
  height: 100%;
}

#imageContainer .content img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

#videoContainer .content video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*loader spiner*/
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(233 7 7);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(233 7 7);
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}