nav
  div.nav-wrapper
    a(href="#" class="brand-logo" style="margin-left: 10px;") 
      i.material-icons.left(style="font-size: 45px;") cloud
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    ul(id="nav-mobile" class="right hide-on-med-and-down")
      li
        a(href="/admin/content") Контент
      li
        a(href="/admin/kiosks") Киоски
      li
        a(href="/admin/out") Вывод
  ul.sidenav#mobile-demo
    li
      a(href="/admin/content") Контент
    li
      a(href="/admin/kiosks") Киоски
    li
      a(href="/admin/out") Вывод

  